body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #828ca3;
}

/* finfo generiche da riutilizzare */
.ms_azzurro {
  color: #408fff;
}

.padding_top {
  padding-top: 30px;
}
.padding_bottom {
  padding-bottom: 30px;
}

.margin_top {
  margin-top: 30px;
}
.margin_bottom {
  margin-bottom: 30px;
}
/* inizio header */
/* Impostazioni Nav fixed/top Header */

/* costumizzazione navbar */
.ms_navbar {
  margin-bottom: 0;
  color: #0e2555;
  height: 10vh;
}
.ms_navbar_left {
  margin-left: 20%;
}
/* fine costumizzazione nav bar */

/* colori scritte */
#top_header .ms_navbar ul li a {
  color: #0e2555
}
/* fine colori scritte */

/* costumizzazione btn navbar */
#top_header .navbar-right li .ms_btn {
  background-color: #fff0;
  border-color: #408fff;
}
#top_header .navbar-right li .ms_btn:focus {
  outline: 0;
}
/* fine costumizzazione btn navbar */
/* costumizzazione button collapse */
.navbar-default .navbar-toggle .ms_custom_toggle {
  background-color: #408fff;
  height: 4px;
  border-radius: 20px;
}

.ms_costume_collapsed {
  border: 0;
}
/* fine costumizzazione button collapse */
/* fine impostazioni nav fixed/top header */

/* inizio impostazioni bottom header */
.msjumbo {
  /* da sostituire con bg img*/
  background-color: #004aff;
  /* da sostituire con bg img*/
  margin-top: 10vh;
}

/* info form header */
.ms_header_form {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

/* fine impostazioni bottom header */
/* fine header */

/* inizio main */
/* impostazioni id affiliati */
#affiliati {
  background-color: #f3f5f9;
}
/* placeholder da cancellare */
#affiliati .ms_placeholder {
  background-color: white;
  border: 1px solid black;
  padding: 4% 0;
}
/* placeholder da cancellare */
/* fine impostazioni id affiliati */

/* Impostazioni id info deploy */
#info_deploy .ms_lista {
list-style: none;
}
#info_deploy .ms_lista li {
  padding-bottom: 20px;
}
#info_deploy .ms_lista li a {
  color: #828ca3;
  border-left: 1px solid black;
  padding-bottom: 20px;
}

#info_deploy .ms_placeholder {
  height: 20px;
  width: 20px;
  background-color: black;
}
/* fine impostazioni info deploy */
/* fine main */

/* custom media query */
