body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #828ca3;
}

/* finfo generiche da riutilizzare */
h2 {
  color: #031c4e;
  font-size: 2.5em;
  padding-bottom: 15px;
}

.ms_subtitle {
  font-size: 17px;
  padding-bottom: 15px;
}

.ms_azzurro {
  color: #408fff;
}

.padding_top {
  padding-top: 30px;
}
.padding_bottom {
  padding-bottom: 30px;
}

.margin_top {
  margin-top: 30px;
}
.margin_bottom {
  margin-bottom: 30px;
}

.background_grey {
  background-color: #f3f5f9;
}

.background_blue {
  background-color: #0042bf;
  background-image: linear-gradient(#0051ea,#001e99);
}

.ms_resized {
  width: 60%;
  margin: 0 auto;
}
/* inizio header */
/* Impostazioni Nav fixed/top Header */

/* costumizzazione navbar */
.ms_navbar {
  margin-bottom: 0;
  color: #0e2555;
  height: 10vh;
  background-color: white;
}

#top_header .container .navbar-header img {
  height: 30px;
}

#top_header span {
  padding-left: 7px;
  font-size: 10px;
}

#top_header .navbar-right ul {
  display: inline-block;
}
#top_header .navbar-right ul:first-child {
  padding-right: 250px;
}
/* fine costumizzazione nav bar */

/* colori scritte */
#top_header .ms_navbar ul li a {
  color: #0e2555
}

.ms_navbar_right {
 line-height: 60px;
}
/* fine colori scritte */
/* costumizzazione btn navbar */
#top_header .navbar-right li .ms_btn {
  background-color: #fff0;
  border-color: #408fff;
}
#top_header .navbar-right li .ms_btn:focus {
  outline: 0;
}
/* fine costumizzazione btn navbar */
/* costumizzazione button collapse */
.navbar-default .navbar-toggle .ms_custom_toggle {
  background-color: #408fff;
  height: 4px;
  border-radius: 20px;
}

.ms_costume_collapsed {
  border: 0;
}
/* fine costumizzazione button collapse */
/* fine impostazioni nav fixed/top header */

/* inizio impostazioni bottom header */
#bottom_header h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 35px;
}

#bottom_header p:not(.speciale) {
  color: #b3c7ff;
}

#bottom_header .ms_costume_btn {
  background-color: #579aff;
  border-color: #579aff;
  color: white;
}

#bottom_header .ms_testo_form p {
  color: black;
  font-size: 30px;
}
#bottom_header .ms_testo_form .ms_azzurro {
  color: #408fff
}

#bottom_header .speciale a {
  text-decoration: underline;
  color: #408fff;
}
.ms_textaligin {
  text-align: left;
}
.ms_header_form form img {
  width: 37%;
  padding-right: 31%;
}

.msjumbo {
  background-image: url(../img/bg-home-hero.svg);
  background-size: cover;
  background-color: #004aff;
  margin-top: 10vh;
}

/* info form header */
.ms_header_form {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

/* fine impostazioni bottom header */
/* fine header */

/* inizio main */
/* impostazioni id affiliati */
#affiliati img {
  max-width: 100%;
  vertical-align: middle;
}

#affiliati .ms_link_topmain span {
  top: 0;
  font-size: 12px;
}
/* fine impostazioni id affiliati */

/* Impostazioni id info deploy */
#info_deploy .ms_resized {
  width: 90%;
  margin: 0 auto;
}

#info_deploy .ms_lista {
list-style: none;
margin-bottom: 40px;
}
#info_deploy .ms_lista li {
  padding-bottom: 25px;
}
#info_deploy .ms_lista li a {
  color: #828ca3;
  border-left: 1px solid black;
  padding-bottom: 25px;
  padding-left: 15px;
  font-size: 16px;
}

#info_deploy .ms_minisezione_deploy {
  height: 170px;
}
/* fine impostazioni info deploy */

/* impostazioni info designed */
#info_designed .ms_resized {
  width: 80%
}

#info_designed .ms_resized img {
  height: 350px;
  max-width: 100%;
}

#info_designed .ms_resized p {
  color: #031c4e
}

#info_designed .ms_tre_puntini .ms_puntino {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid #408fff;
  border-radius: 50%;
}
#info_designed .ms_tre_puntini .ms_puntino:first-child {
  background-color: #408fff
}
/* impostazioni info designed */

/* impostazioni info features */
#info_features .ms_minisezione_features h4 {
  color: #031c4e;
}

/* fine info features */

/* impostazioni info service regione */
#info_service_region h2 {
  color: white;
}

#info_service_region .ms_row_service {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}
#info_service_region .ms_row_service:last-child {
  border-bottom: 0;
}

#info_service_region .ms_row_service .sigla {
  font-weight: bold;
  color: white;
  padding-left: 10px;
  padding-right: 50px;
}

#info_service_region .ms_row_service p {
  padding-right: 50px;
  color: #b3c7ff;
}
#info_service_region .ms_row_service a {
  color: #00d5d1;
}
/*fine impostazioni info service regione */

/* impostazioni info development */
/* da cancellare */
#info_development .ms_resized {
  width: 80%;
}

#info_development .ms_resized img {
  height: 300px;
  max-width: 100%;
}
/* da cancellare */

#info_development .ms_tre_puntini .ms_puntino {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid #408fff;
  border-radius: 50%;
}
#info_development .ms_tre_puntini .ms_puntino:nth-child(2) {
  background-color: #408fff
}
/* fine info development */

/* impostazioni info get started */
#info_getstarted h2 {
  color: white;
}

#info_getstarted .ms_resized {
  width: 25%;
}

#info_getstarted .ms_costume_btn {
  padding: 5px 16px;
}
/* fine main */

/* inizio footer */
#contatti {
  background-color: #031c4e;
  position: relative;
}

#contatti .scritte_footer {
  margin-bottom: 10px;
}
#contatti p {
  margin: 5px 0 0 0;
  font-size: 12px;
}
#contatti .ms_lessimportant {
  margin: 0;
}

#contatti img {
  height: 40px;
  max-width: 100%;
}

#contatti .ms_lessimportant {
  color: #4f5f7f;
}

#contatti ul {
  list-style: none;
  padding: 0;
}

#contatti ul li {
  margin-bottom: 5px;
}
#contatti ul li:first-child {
  color: white;
  font-weight: bold;
}

#contatti ul li a {
  color: #828ca3;
  text-decoration: none;
}

#helping_shark .baloon{
  max-width: 70%;
  position: relative;
  display: inline-block;
  margin-right: 12px;
  padding: 6px;
  background-color: white;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  outline: 0;
}
.baloon:after{
  content: ' ';
  position: absolute;
  margin: 0 auto;
  left: 97.7%;
  right: 0;
  bottom: 33%;
  width: 15px;
  height: 15px;
  background: white;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-45deg);
}
.ms_fixed_bottom {
  position: fixed;
  z-index: 999999;
  bottom: 3%;
  right: 2%;
}

#helping_shark .shark_img {
  display: inline-block;
  position: absolute;
  top: 3%;
  left: 74%;
  height: 50px;
  width: 50px;
  border: 1px solid #031c4e;
  border-radius: 5px;
  background-color: #0051c3;
}

#helping_shark .shark_img .cerchietto {
  position: absolute;
  z-index: 2;
  top: -16%;
  left: 74%;
  height: 22px;
  width: 22px;
  background: red;
  border: 4px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
}
#helping_shark .shark_img .cerchietto p {
  line-height: 3px;
}
/* fine footer */

/* custom media query */
@media only screen and (max-width: 992px) {
  .ms_sm_sx_margin {
    margin-bottom: 35px;
  }

  #top_header .navbar-right ul:first-child {
    padding-right: 75px;
  }
}
